.doc-container {
  display: flex;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.doc-menu {
  width: 270px;
  background: var(--color-background-secondary);
  border-right: 1px solid var(--color-border-primary);
  padding: 12px 0px;
  position: fixed;
  top: 42px;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.doc-menu-list {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.doc-menu-list,
.doc-menu-sublist {
  list-style: none;
  padding: 4px 8px;
}

.doc-menu-item {
  padding: 6px 8px;
  cursor: pointer;
  color: var(--color-text-primary);
  border-radius: 6px;
  transition:
    background 0.2s,
    border-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
.doc-menu-item.active {
  background: var(--color-background-tertiary);

  border-left: 1px solid var(--main-color-primary);
  color: var(--main-color-primary);
}
.doc-menu-item:hover {
  background: var(--color-background-tertiary);
}

.doc-menu-item-sub {
  padding: 4px 12px;
  font-size: 14px;
  margin-left: 20px;
}

.doc-menu-item span {
  max-width: 150px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

/* Кнопки управления категориями */
.doc-menu-actions {
  display: flex;
  gap: 4px;
}
.doc-menu-action-btn {
  background: none;
  border: none;
  color: var(--color-text-tertiary);
  cursor: pointer;
  font-size: 15px;
  padding: 2px 4px;
  border-radius: 3px;
  transition:
    background 0.15s,
    color 0.15s;
}
.doc-menu-action-btn:hover {
  background: var(--color-background-tertiary);
  color: var(--color-accent-primary);
}

.doc-menu-action-btn-add-category {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  cursor: pointer;
  padding: 6px 12px;
  margin: 12px auto 16px auto;
  font-size: 15px;

  width: auto;
  max-width: 150px;
  color: var(--color-text-primary);
  border: 1px solid var(--color-border-primary);
  background-color: var(--main-color-primary);
  border-radius: 4px;
}

.doc-main {
  flex: 1;
  padding: 12px 8px 12px 8px;
  overflow-y: auto;
  background: var(--color-background-secondary);
  margin-left: 260px;
  width: calc(100% - 260px);
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.doc-section-category {
  background: transparent;
  padding: 2px 12px;
}

.doc-section-category.last-category {
  margin-bottom: 200px;
}

.doc-menu-edit-input {
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-text-primary);
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 4px;
}
.doc-section-subcategory {
  margin-bottom: 12px;
}

.doc-section-subcategory .doc-section-title {
  font-size: 18px;
}

.doc-section-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.doc-section-title {
  margin: 0;
  color: var(--main-color-primary);
  font-size: 1.5em;
  font-weight: 700;
}

.doc-section-content {
  cursor: pointer;
  min-height: 32px;
  font-size: 1.08em;
  color: var(--color-text-primary);
  transition: background 0.2s;
  margin-bottom: 12px;
}
.doc-quill-editor.ql-snow {
  margin-bottom: 12px;
}
.doc-section-edit-btn {
  font-size: 16px;
  margin-left: 4px;
}

/* Гамбургер для мобильных */
.doc-menu-toggle {
  display: none;
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 1001;
  background: var(--main-color-primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px 8px 12px;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 900px) {
  .doc-container {
    flex-direction: column;
    width: 100%;
  }
  .doc-menu {
    position: fixed;
    left: -300px;
    top: 34px;
    bottom: 0;
    width: 275px;
    z-index: 1000;
    height: 100vh;
    background: var(--color-background-secondary);
    transition: left 0.3s;
    will-change: transform;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }
  .doc-menu.open {
    left: 10px;
  }
  .doc-menu-toggle {
    display: block;
  }
  .doc-main {
    margin-left: 0;
    padding: 12px 8px 12px 8px;
    width: 100%;
  }
}

.menu-icon-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.menu-icon {
  position: absolute;
  top: 0;
  left: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.menu-icon.visible {
  opacity: 1;
  transform: rotate(0deg);
}

.menu-icon.hidden {
  opacity: 0;
  transform: rotate(-90deg);
}
