.spinner {
  width: 3.4em;
  height: 3.4em;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #474bff 94%, #0000) top/0.2em 0.2em no-repeat,
    conic-gradient(#0000 30%, #474bff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 0.5em), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
  margin: 0 auto 20px;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.preloader {
  padding: 20px;
  border-radius: 8px;
  min-height: 236px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(9 9 9 / 66%);
  color: var(--color-text-primary);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-background-secondary-blur);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader-message-container {
  text-align: center;
  color: var(--color-text-primary);
}

.preloader-message-container p {
  font-size: 18px;
}
